.main-photo {
  background-image: url('../../assets/img/main2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -150px;
  height: 330px;
}

.main-photo p {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  color: #fff;
  font-size: 60px;
  text-shadow: #000 5px 5px 1px;
  padding-top: 10%;
}

.blog-list {
  float: left;
  width: 100%;
  height: 700px;
  margin-left: 0px;
}

.blog-page-title {
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .main-photo {
    background-position: 0 -45px;
    height: 250px;
  }

  .main-photo p {
    font-size: 40px;
    padding-top: 13%;
  }
}
@media screen and (max-width: 450px) {
  .main-photo {
    background-position: 0 0;
    height: 170px;
  }

  .main-photo p {
    font-size: 30px;
    padding-top: 15%;
  }
}
