<nav class="navbar navbar-default blog-header-menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed blog-navbar-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="dropdown visible-xs blog-profile-xs">
        <a href="#" class="dropdown-toggle blog-profile-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/img/profile.jpg">
        </a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active"><a [routerLink]="['/profile']">Profile</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/my-blog']">My blog</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/settings']">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li routerLinkActive="active"><a [routerLink]="['/logout']">Log out</a></li>
        </ul>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      </ul>
      <div class="blog-logo-block navbar-left hidden-xs">
        <img src="../../assets/img/logo1.png">
        <img src="../../assets/img/logo2.png">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a [routerLink]="['/signin']">Sign in</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/signup']">Sign up</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/chat']">Chat</a></li>
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle blog-profile-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="../../assets/img/profile.jpg">
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a [routerLink]="['/profile']">Profile</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/my-blog']">My blog</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/settings']">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li routerLinkActive="active"><a [routerLink]="['/logout']">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
